body{
    background-image: url(../images/hout.jpg);
}

div{
    float:right;
    background-image: url(../images/witte-marmer.jpg);
    border: 3px solid darkred;
    width: 30%;
    height: 400px;
}

table{
    border: 3px solid black;
    float:left;
}
tr, td{
    border-collapse:collapse;
    border: 1px solid black;
}

td{
    width: 60px;
    height: 60px;
    text-align: center;
}
tr:nth-child(odd)>td:nth-child(even), tr:nth-child(even)>td:nth-child(odd){
    background-image: url(../images/zwarte-marmer.jpg);
}
tr:nth-child(odd)>td:nth-child(odd), tr:nth-child(even)>td:nth-child(even){
    background-image: url(../images/witte-marmer.jpg);
}


