body {
    margin: 0;
    padding: 0;
    background-color: lightyellow;
    width: 100%;
}
table.vlag {     /*Italiaanse vlag*/
    width: 100%;
}
table td {
    width: 33%;
    height: 30px;
    vertical-align: bottom;
}
td {
    background-color: darkgreen;
}
td:nth-child(2) {
    background-color: white;
    text-align: center;
}
td:nth-child(3) {
    background-color: red;
}
form {
    margin-bottom: 20px;
}
button {
    padding: 10px;
}
article {
    background-color: ghostwhite;
    padding: 25px;
    width: 50%;
    margin: 30px auto;
}
input label {
    margin: 50px;
}
table.toppings td {
    background-color: ghostwhite;
    text-align: left;
    padding-right: 25px;
}
input {
    margin: 10px 0px;
}


