body{
    background-color: beige;
    margin: 0;
}
tr>td:nth-child(1){
    background-color: green;
}
tr>td:nth-child(2){
    background-color: white;
    text-align: center;
}
tr>td:nth-child(3){
    background-color: red;
}
table,tr{
    width:100%;
}
td{
    width:33%;
    height: 30px;
}

